<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    @RenderSection("Css", false)
    <title></title>
</head>
<body>



    @await Html.PartialAsync("_nav2")





    @RenderBody()






</body>
@RenderSection("Scripts", false)
</html>